*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/** -------- header --------- **/
header{
    background: url('./img/THJJRUhNlEc.png'), rgb(23, 23, 23);
    padding: 2em;
    color: white;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

#heading{
    font-size: 3rem;
}

#watchlist-btn{
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}



/**  --------- movie-list ----------  **/
.movies-list{
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.gray-font{
    color: #DFDDDD;
}

#search-movies-btn{
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}


.movie{
    display: grid;
    grid-template-rows: auto 50px auto auto;
    grid-template-areas: 
    "first"
    "second"
    "image"
    "third";
    row-gap: 0.3em;
    align-self: flex-start;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 2em 0;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
}

.movie-pic{
    grid-area: image;
    width: 80vw;
    height: 200px;
    border-radius: 10px;
    border: 0.5px solid black;
}

.first-line,
.second-line,
.rating-div,
.add-to-watchlist{
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.add-to-watchlist{
    font-weight: 600;
    cursor: pointer;
}

.first-line,
.second-line{
    gap: 1em;
    justify-content: space-between;
}

.first-line{
    grid-area: first;
}

.movie-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.second-line{
    grid-area: second;
}

.about-movie{
    color: #6B7280;
    font-size: 1rem;
    font-weight: 400;
}

.rating-img{
    width: 10px;
    height: 10px;
}




/** -------- media queries -------- */
@media(min-width: 480px){
    html{
        font-size: 18px;
    }

    header{
        height: 30vh;
    }

    .movie{
        grid-template: auto 50px auto / auto auto;
        grid-template-areas: 
        "first first"
        "second second"
        "image third";
        column-gap: 1.5em;
    }

    .movie-pic{
        width: 150px;
        height: 200px;
    }

    .first-line,
    .second-line{
        gap: 1.5em;
        justify-content: flex-start;
    }
}

@media(min-width: 768px){
    .movie{
        grid-template: auto 40px auto / 190px auto;
        grid-template-areas: 
        "image first"
        "image second"
        "image third";
        column-gap: 2em;
    }

    .first-line,
    .second-line{
        justify-content: flex-start;
    }

    .movie-pic{
        width: 180px;
        min-height: 300px;
    }
}

@media(min-width: 1024px){
    #movies-list{
        padding: 5em 7em;
    } 
    
    .movie{
        grid-template: 40px 40px auto / 180px auto;
        grid-template-areas: 
        "image first"
        "image second"
        "image third";
        column-gap: 2em;
        align-self: flex-start;
    }
}